* {
    font-family: 'Courier New';
}

h1,
h3 {
    color: #b92b27;
}

#login {
    background-color: #fff;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: #fff;
}

.post a {
    background-color: rgb(184, 184, 51);
    color: rgb(229, 10, 226);
}

p+h3 {
    text-decoration: underline;
}

.upvote+button {
    background-color: cornflowerblue;
}

div>input {
    background-color: darkgray;
}

input[type="text"] {
    color: blue;
}

input[type="password"] {
    color: chocolate;
}

input[type] {
    background-color: ghostwhite;
}